.left-panel {
  ul{
    list-style-type: none;
    margin-top: 50px;
  }
  .logo{
    display: block;
    background-image:url(../images/National-Geographic-logo2.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: auto;
	  height: 150px;
  }
  .left-panel-link{
    margin-top: 50px;
    i{
      color: #DDDDDC;
    }
    .active i{
      color:#62BDFD;
    }
    .posts:before{
      content: "format_list_numbered"
    }
    .statistics:before{
      content: "show_chart"
    }

    .messages:before{
      content: "mail"
    }

    .discussions::before{
      content:"question_answer"
    }
    .has-tip{
      border-bottom: 0px;
      cursor: pointer;
    }

  }

}
