.left-panel {
  ul{
    list-style-type: none;
    margin-top: 50px;
  }
  .logo{
    display: block;
    background-image:url(../images/National-Geographic-logo2.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: auto;
	  height: 150px;
  }
  .left-panel-link{
    margin-top: 50px;
  }
}
